$bgColor: #ffffff;
$bgColorSub: #BDBDB0;
$thmeColorMian:  #26a2ff;
$thmeColorSub: #26a2ff;
$thmeFontColor:#26a2ff;
$fontColorMian:#000000;
$fontColorSub: #757575;
$bgColorSub: #f6f6f6;
$borderColor: #f6f6f6;
$fontSizeMain:1rem;
$fontSizeSub: .8rem;

